<section class="jumbotron card-color">
  <h2>Create New Post</h2>

  <form class="new-post-form form">
    <div class="form-group">
      <label for="name">Cat Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter cats name" name="name" />
    </div>
    <div>
      <label for="description">Story</label>
      <textarea id="description" name="description" placeholder="Enter the cats story/decription"></textarea>
    </div>
    <div>
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" placeholder="Enter age" name="age" />
    </div>
    <div>
      <label for="personality">Personality</label>
      <input type="text" class="form-control" id="personality" placeholder="Enter the cats personality" name="personality" />
    </div>
    <div>
      <label for="status">Status</label>
      <input type="text" class="form-control" id="status" placeholder="Enter the cats adoption status" name="status" />
    </div>
    <button type="submit" class="btn btn-light">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <div class="row">
      <div class="card-columns">
    {{#each cats}}
        <div class="card card-customization">
          <img src="{{image_url}}" class="card-img-top" alt="photo of {{name}}">
          <div class="card-body card-color2 drop-shadow">
           <h4 class="card-title"><a href="/cat/{{id}}">{{name}}</a></h4>
            <hr class="my-3" />
            <p class="card-text">
            <h5>{{name}}'s story:</h5>
            {{description}}<br/>
            <br/>
            <small class="text-muted">
              Added by {{user.username}} on {{format_date created_at}} | {{comments.length}} comment(s)</small>
              </p>
          </div></a>
        </div>
    {{/each}}
      </div>
</section>
{{/if}}

  
  <script src="/javascript/imagehandler.js"></script>
  <script src="/javascript/add-post.js"></script>

     {{!-- <div>
    <h4>Step 1: User uploads file</h4>
      File Input
      <input type="file"  accept="image/*" name="image" id="file" />
      <button onclick="handleUploadImage()">Upload Image</button>
   </div>
   <div>
    <h4>Step 2: After upload, the JavaScript updates the value of this input</h4>
    <p>Note: This input will get sent to the server and saved to the database.</p>
    <p>The input could be hidden with CSS so that the user doesn't see the actual URL</p>
    Image Url: <input name="image_url" id="image_url_input" disabled />
    <img src="" id="display-image" />
   </div> --}}