<div class="jumbotron card-color">
  <a href="/dashboard"> &larr; Back to dashboard</a><br/>
  <br/>
  <h2>
    Edit Cat
  </h2>
  <hr class="my-3">

  <form class="edit-post-form form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="{{name}}" />
    </div>
    <div>
      <label for="description">Story</label>
      <input id="description" class="form-control" name="description" value="{{description}}" />
    </div>
    <div>
      <label for="age">Age</label>
      <input id="age" class="form-control" name="age" value="{{age}}" />
    </div>
        <div>
      <label for="personality">Personality</label>
      <input id="personality" class="form-control" name="personality" value="{{personality}}" />
    </div>
    <div>
      by you on {{format_date post.created_at}} | {{post.comments.length}} {{format_plural "comment" post.comments.length}}
    </div>
    <button type="submit" class="btn btn-light">Save post</button>
    <button type="button" class="delete btn btn-light">Delete post</button>
  </form>

  </div>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>


