<div class="container">
  {{!-- <div class="row"> --}}
    <div class="card-column card-customization">
      <h4 class="card-title card-color">{{name}}</h4>
      <hr class="my-3" />
      <p class="card-text">
        <h5>Age:</h5> {{age}}<br/>
        <br/>
        <h5>{{name}}'s story:</h5>
        {{description}}<br/>
        <br/>
        <h5>Personality:</h5> 
        {{personality}}<br/>
        <br/>
        <h5>Status:</h5> {{status}}
        </p>
      <p class="card-text"><small class="text-muted"> Added by
          {{user.username}}
          on
          {{format_date created_at}}
          |
          {{comments.length}} comment(s)</small></p>
      <p><a href="/post/{{id}}">View Post »</a></p>
    </div>
  {{!-- </div> --}}
</div>