<div class="bg-light">
<article class="cat">
  {{!-- This is the top part divided into two  sections with pic on the left and bio point on the right   --}}
  <div class="bio">
    <div class="picture">
        <div class="picture-holder">
            <img src="{{image_url}}" alt="photo of {{name}}">
        </div>

    </div>
    <div class="bio-info">
        <h2 class="Name">Meet {{cat.name}}</h2>
        <h3 class="Age">Age: {{cat.age}}</h3>
        <h3 class="Status">Status: {{cat.status}}</h3>
        <h3 class="Personality">Personality: {{cat.personality}}</h3>
    </div>
  </div>


  {{!-- This is the bottom part with cat description --}}
   <div class="description">
    <p class="text-description">{{cat.description}}<br/>
    <br/>
    by {{cat.user.username}} on {{format_date cat.created_at}}
    |
    {{cat.comments.length}} comment(s)<br/>
    <br/>
        

  </div> 

</article>




{{#if loggedIn}}

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

<h5>Comments about {{cat.name}}:</h5><br/>

<div class="comments">
  {{#each cat.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}:
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

</div>