
<article class="cat">
  {{!-- This is the top part divided into two  sections with pic on the left and bio point on the right   --}}
  {{#if cat.image_url.length}}
  <div class="bio">
    <div class="picture">
        <div class="picture-holder">
            <img src="{{cat.image_url}}" class="cat-photo img-fluid" alt="photo of {{cat.name}}">
        </div>
   {{/if}}

    </div>
    <div class="bio-info">
        <h2 class="Name">Meet {{cat.name}}</h2><br/>
        <h3 class="Age">Age: {{cat.age}}</h3>
        <h3 class="Status">Status: {{cat.status}}</h3>
        <h3 class="Personality">Personality: {{cat.personality}}</h3><br/>
    </div>
  </div>


  {{!-- This is the bottom part with cat description --}}
   <div class="description">
    <p class="text-description">{{{cat.description}}}<br/>
    <br/>
    by {{cat.user.username}} on {{format_date cat.created_at}}
    |
    {{cat.comments.length}} {{format_plural "comment" comments.length}}<br/>
    <br/>
      
  </div> 
</article>


{{#if loggedIn}}
<form class="comment-form">
   <div id="editor" class="element comment-lement">
    <textarea name="comment-body"> Comment Here </textarea>
  </div>

  <div>
    <button type="submit" class="commentBtn">add comment</button>
  </div>
</form>
{{/if}}

<div class="comments">
  <h5>Comments about {{cat.name}}:</h5><br/>

  {{#each cat.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}:
    </div>
    <div class="text">
      {{{comment_text}}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}}

</div>
